In [10]:
import numpy as np
import pandas as pd
from simoptions import create_call, calchistdata

In [11]:
TICKER = "SPY"
EXPR = 67 #9-2 #46 #32 #days

CALL_FILE = "SPY_CALL_5.10.21_7.16.21" #"SPY_CALL_5.10.21_6.19.21" #"SPY_CALL_5.10.21_6.25.21" #"SPY_CALL_5.10.21_5.11.21"
OPT_PRICE_COL = "Ask"

CURRENT_PRICE = 417.96

In [12]:
df = pd.read_csv(TICKER.upper() + ".csv")
prices = df["Close"].values

#assume the same diff dist
diffs = calchistdata(prices, EXPR)

In [13]:
calldf = pd.read_csv(CALL_FILE + ".csv")

In [14]:
outpdata = []
price_strike = calldf[[OPT_PRICE_COL, "Strike", "Contract Name"]].values
for rowi in range(0, calldf.shape[0]):
    optprice, strikeprice, contract = price_strike[rowi]
    CALL = create_call(optprice, strikeprice, CURRENT_PRICE)
    profits = CALL(diffs)
    outpdata.append([contract, strikeprice, optprice, np.mean(profits), np.std(profits), np.median(profits), np.min(profits), np.max(profits), (profits>0).sum()/len(profits)])
    # print(f"Mean   : {np.mean(profits)}")
    # print(f"STD    : {np.std(profits)}")
    # print(f"Median : {np.median(profits)}")
    # print(f"Min    : {np.min(profits)}")
    # print(f"Max    : {np.max(profits)}")
    # print(f"%in $  : {(profits>0).sum()/len(profits)}")

c:\Users\maxim\Desktop\js\opt\simoptions.py:4: RuntimeWarning: divide by zero encountered in true_divide
  return lambda x: ((multiplier*(np.maximum((current_price*(1+x))-strike_price,0)-option_price))/(multiplier*option_price))#current_price)
c:\Users\maxim\Desktop\js\opt\simoptions.py:4: RuntimeWarning: invalid value encountered in true_divide
  return lambda x: ((multiplier*(np.maximum((current_price*(1+x))-strike_price,0)-option_price))/(multiplier*option_price))#current_price)

In [15]:
# CALL = create_call(7.64, 418, 417.96)
# profits = CALL(diffs)
# print(f"Mean   : {np.mean(profits)}")
# print(f"STD    : {np.std(profits)}")
# print(f"Median : {np.median(profits)}")
# print(f"Min    : {np.min(profits)}")
# print(f"Max    : {np.max(profits)}")
# print(f"%in $  : {(profits>0).sum()/len(profits)}")

In [16]:
resultsdf = pd.DataFrame(data=outpdata,columns=["contract", "strike", "optionprice", "mean", "std", "median", "min", "max", "pProf"])

In [17]:
resultsdf

,contract,strike,optionprice,mean,std,median,min,max,pProf
0,SPY210716C00185000,185.0,233.35,0.040802,0.139391,0.055192,-0.740221,0.707575,0.682324
1,SPY210716C00200000,200.0,218.37,0.043509,0.148953,0.058887,-0.791091,0.756022,0.682182
2,SPY210716C00210000,210.0,181.93,0.197555,0.178787,0.216012,-0.804213,1.052782,0.883352
3,SPY210716C00215000,215.0,168.41,0.264005,0.193141,0.283945,-0.818185,1.187890,0.912764
4,SPY210716C00220000,220.0,161.47,0.287367,0.201442,0.308163,-0.841336,1.250960,0.919903
...,...,...,...,...,...,...,...,...,...
185,SPY210716C00540000,540.0,0.02,0.514915,47.037424,-1.000000,-1.000000,2172.129535,0.001285
186,SPY210716C00545000,545.0,0.02,0.204842,39.183444,-1.000000,-1.000000,1922.129535,0.001142
187,SPY210716C00550000,550.0,0.02,-0.080710,31.700407,-1.000000,-1.000000,1672.129535,0.001142
188,SPY210716C00555000,555.0,0.02,-0.340940,24.750327,-1.000000,-1.000000,1422.129535,0.000999
189,SPY210716C00560000,560.0,0.02,-0.588990,18.594506,-1.000000,-1.000000,1172.129535,0.000857

In [18]:
resultsdf.to_csv("out(7.16).csv", index=False)